*{  
margin: 0;
padding: 0;
box-sizing: border-box; /*n interferir no cálculo final*/
}

@font-face {
    font-family: "Fonte";
    src: url(MontserratAlternates-Light.otf);
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: "Fonte";
}

section{
    width: 70%;
    max-width: 800px;
    justify-content: center;

    
}

section details{

    font-size: 20px;

}


section details summary{
    background-color: rgb(151, 81, 154);
   
    padding: 2%;
    border-bottom: 2px solid black;

}

section details p{
    background-color: rgb(151, 81, 154);
    line-height: 26px;
    padding: 2%;
    background-color: white;
    color: black;
}


